<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">
    <head>
        <meta charset="utf-8" />
        <title>Films</title>
        <link href="style.css" th:href="@{/style.css}" rel="stylesheet" />
    </head>
    <body>
        <p>Available</p>
        <table>
            <thead>
                <tr>
                    <th>&#160;</th>
                    <th th:text="#{title}">title</th>
                    <th th:text="#{releaseYear}">releaseYear</th>
                </tr>
            </thead>
            <tfoot />
            <tbody>
                <tr th:each="film : ${films}">
                    <td>
                        <img class="cover" th:src="@{/films/{id}/cover(id=${film.id})}" /><br />
                        <form method="POST" th:action="@{/films/addCover}" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${film.id}" />
                            <input type="file" name="cover" /><br />
                            <button type="submit">Update</button>
                        </form>
                    </td>
                    </td>
                    <td th:text="${film.title}">Einer flog über das Kuckucksnest </td>
                    <td><a href="#" th:href="@{/films/byYear2/{year}(year=${film.releaseYear})}" th:text="${film.releaseYear}">1975</a></td>
                    <td>
                        <form method="POST" th:action="@{/cart/{id}(id=${film.id})}">
                            <button type="submit">AddToCart</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="#" th:href="@{/films/new}">new</a>
        <hr />
        <p>Selected</p>
        <table>
            <thead>
                <tr>
                    <th th:text="#{title}">title</th>
                </tr>
            </thead>
            <tfoot />
            <tbody>
                <tr th:each="film : ${@shoppingCart.content}">
                    <td th:text="${film.title}">
                        Einer flog über das Kuckucksnest
                    </td>
                    <td>
                        <form th:action="@{/cart/{id}(id=${film.id})}"
                              method="POST" th:method="DELETE">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>